@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

/* header section start */
header{
    padding: 15px 0;
    position: sticky;
    top: 0;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
}

.nav-icon{
    display: none;
}


.nav-icon i{
    font-size: 30px;
    font-weight: bold;
}

.logo-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a img{
    height: 30px;
}

nav a h1{
    font-weight: bold;
    font-size: 2rem;
}

.logo-span{
    color: rgb(255, 84, 0);
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li{
    list-style: none;
    font-size: 1.2rem;
}

.first-link{
    color: rgb(255, 84, 0);
}

nav ul li a{
    transition: 0.5s;
}

nav ul li a:hover{
    color: rgb(255, 84, 0);
}
/* header section end */

/* home section start */
.home-section{
    margin-top: 10px;
}

.home-container{
    max-width: 1150px;
    height: 500px;
    margin: 0 auto;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: overlay;
    border-radius: 20px;
}

.home-container-items{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-container-text h1{
    color: white;
    font-size: 2.75em;
    margin-bottom: 15px;
    font-weight: bold;
}

.home-container-text p{
    color: white;
    font-size: 1em;
    margin-bottom: 20px;
}

.home-container-option{
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.297);
    border-radius: 10px;
}


.home-container-option button{
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.home-container-btn{
    display: flex;
    gap: 20px;
}

.arrow-btn{
    background-color: white;
    color: gray;
}

.arrow-btn i{
    margin-left: 20px;
}

.find-btn{
    background-color: rgb(255, 84, 0);
    color: white;
    transition: 0.5s;
}

.find-btn:hover{
    background-color: rgb(210, 72, 4);
}
/* home section end */

/* popular-tours section start */
.popular-tours-seciton{
    margin-top: 70px;
}

.popular-tours-container{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.popular-tours-text h1{
    font-size: 2em;
}

.popular-tours-text p{
    margin: 15px 0;
    color: gray;
}

.popular-tours-text li{
    margin-left: 12px;
}

.read-more-btn{
    padding: 10px 15px;
    background-color: rgb(255, 84, 0);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

.read-more-btn:hover{
    background-color: rgb(210, 72, 4);
}

.popular-tours-img{
    width: 95%;
    height: 450px;
}

.popular-tours-img img{
    height: 100%;
    width: 100%;
}
/* popular-tours section end */