.hide{
    display: none;
}
/* header section start */
nav{
    width: 95%;
}

.nav-icon{
    display: block;
}

.home-container{
    width: 95%;
}

.home-container-btn{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    gap: 20px;
}
nav ul li{
    display: none;
}

.btn-3{
    margin: 0px;
}
/* header seciton end */

/* .popular-tours-section start */
.popular-tours-container{
    width: 100%;
    flex-direction: column;
}

.popular-tours-img{
    width: 95%;
}

.popular-tours-img img{
    width: 100%;
}

.popular-tours-text{
    text-align: center;
}

.popular-tours-text ul li{
    list-style: none;
}
/* .popular-tours-section end */